*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: whitesmoke;
    color: white;
    font-weight: 400;
    font-family: 'EB Garamond', serif;
}

nav{
    display: flex;
    color: black;
    justify-content: space-between;
    background-color: transparent;
    padding: 15px 100px 15px 100px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    z-index: 2;
    transition: 0.4s ease-in-out;
}
.nav-home {
    height: 15px;
    display: none;
}
.menu-option h4 {
    display: block;
}
nav:hover{
    background-color: whitesmoke;
    transition: 0.5s ease-in-out;
}
.menu{
    display: flex;
}
.menu-option{
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    margin: 0 5px;
}
.menu-option:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}
a:visited{
    color: black;
}
button>a:link{
    color: white;
    text-decoration: none;
}
button>a:hover {
    color: black;
}
button>a:visited{
    color: black;
}
.menu>button{
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #FF5E5B;
    color: white;
    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
}
.menu>button:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    color: black;
}

.hero{
    background-image: url(./assets/images/hero.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    padding: 200px 100px;
}
.hero-heading{
    width: 800px;
    height: 180px;
    font-size: 300%;
}
.hero-heading-span{
    color: black;
}
.hero-subtitle{
    width: 60%;
    height: 50px;
    font-size: 20px;
    margin: 20px 0 15px 0;
}
.hero-buttons{
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding: 10px;
}
.hero-buttons>button{
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 16px;
}
.button1{
    background-color: #FF5E5B;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}
.button2{
    background-color: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.hero-buttons>button:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    color: black;
}



.hero-buttons1{
    padding: 10px;
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
}
.hero-buttons1>button{
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 16px;
}
.button4{
    background-color: #FF5E5B;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}
.button5{
    background-color: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.hero-buttons1>button:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    color: black;
}



.middle {
    background-image: url(./assets/images/hero2.jpg);
    min-height: 450px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.middle-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    color: black;
    align-items: center;
    align-self: center;
    min-height: 450px;
    background-color: lightgrey;
    background: rgba(255, 255, 255, 0.7);
}
.middle-container>h1{
    text-align: center;
    font-size: 76px;
    padding: 15px;
}
.middle-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 22px;
    text-align: justify;
}

.problem{
    background-color: #FFFFEA;
    color: black;
    padding: 50px;
    text-align: center;
}
.problem h1 {
    font-size: 46px;
    margin: 25px auto 35px auto;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
}
.card{
    width: 540px;
    height: 240px;
    padding: 20px 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.card h1{
    padding: 10px;
    font-weight: 600;
    font-size: 32px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}
.card p{
    font-weight: 200;
    font-size: 17px;
    text-align: justify;
}
#card-1{
    background-color: black;
}
#card-2{
    background-color: #FF5E5B;
}
#card-3{
    background-color: #FF5E5B;
}
#card-4{
    background-color: black;
}


.contact-us{
    color: black;
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.text-container>h2{
    padding: 0px 0px 30px 0px;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 2rem;
}
.text-container>p{
    padding: 2px;
    font-weight: 200;
}
.form>h3{
    padding: 0px 0px 30px 0px;
    font-size: 1.5rem;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}
.form>button{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #FF5E5B;
    color: white;
    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
}
.form>button:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    color: black;
}
footer{
    background-color: #FFFFEA;
    color: black;

}
.footer-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.links>a>img{
    width: 25px;
    padding: 2px;
}

.believe-container{
    background-color: #FFFFEA;
    color: black;
    padding: 40px 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.believe-container>h1{
    padding-bottom: 20px;
    font-size: 3rem;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.believe-container>p{
    padding: 10px;
}

.team-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.team-content>h1{
    color: black;
    font-weight: 600;
    padding: 20px;
    font-size: 3rem;
}
.team-content>h4{
    color: black;
    font-weight: 400;
    padding: 20px;
}
.card-container-team{
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
}
.card-team{
    width: 440px;
    height: 560px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.card-team>h1{
    padding: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: whitesmoke;
}
.card-team>p{
    font-weight: 200;
    font-size: 1rem;
}

#card-team-4{
    background-color: #FF5E5B;
}
#card-team-5{
    background-color: black;
}
#card-team-2{
    background-color: #FF5E5B;
}

.card-team>img{
    width: 300px;
    border-radius: 30%;
    background-color: grey;
}
.card-team>h2{
    padding: 30px;
    font-size: 2rem;
}
.subs-text {
    padding: 15px;
    text-align: left;
}
.subs-text h3 {
    padding-top: 7px;
    padding-bottom: 7px;
}


#problem-statement{
    font-weight: 300;
}
.head-problem{
    background-color: #FFFFEA;
}
#problem-nav{
    background-color: #FFFFEA;
}

#problem-h1{
    font-size: 2.5rem;
}



.container-form{
    max-width: 900px;
    margin: 50px auto;
    color: black;
}
.cform{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
}
.cform>h1{
    text-align: center;
}
.form_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-bottom: 30px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 16px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}
.button-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.button-container>button{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #FF5E5B;
    color: white;
    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
}
.button-container>button:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    border: 1px solid black;
    color: black;
}
.text_area_control{
    grid-column: 1 / span 2;
}
.map-container{
    background-image: url(./assets/images/map.png);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contactus-form{
    display: flex;
}
#contact-nav{
    background-color: #FFFFEA;
}
#problem-nav{
    background-color: transparent;
}





.checkbtn {
    float: right;
    margin-right: 40px;
    font-size: 30px;
    color: black;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 850px){
    .checkbtn {
        display: block;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu-option {
        display: block;
    }
    #check:checked ~ .menu-option {
        left:0;
    }
}






















@media(max-width:786px){
    nav{
        display: flex;
        color: black;
        justify-content: space-between;
        background-color: transparent;
        padding: 15px 20px;
        box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
        position: sticky;
        top: 0;
        z-index: 2;
        transition: 0.4s ease-in-out;
    }
    nav h1 {
        font-size: 16px;
    }
    .nav-home {
        height: 20px;
        display: block;
    }
    .menu-option h4 {
        display: none;
    }
    nav:hover{
        background-color: whitesmoke;
        transition: 0.5s ease-in-out;
    }
    .menu{
        display: flex;
        flex-direction: row;
    }
    .menu-option{
        padding: 5px;
        border-radius: 10px;
        border: 1px solid transparent;
        transition: 0.2s ease-in-out;
        margin: 0 5px;
        width: 33px;
        height: 33px;
    }
    .menu-option:hover{
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }
    a:link {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: black;
    }
    a:visited{
        color: black;
    }
    button>a:link{
        color: white;
        text-decoration: none;
    }
    button>a:hover {
        color: black;
    }
    button>a:visited{
        color: black;
    }
    .menu>button{
        padding: 0px 20px 0px 20px;
        border-radius: 5px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #FF5E5B;
        color: white;
        border: 1px solid transparent;
        transition: 0.4s ease-in-out;
    }
    .menu>button:hover{
        transform: scale(1.1);
        transition: 0.4s ease-in-out;
        border: 1px solid black;
        color: black;
    }
    .hero{
        background-image: url(./assets/images/hero.jpg);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    .hero-container{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 80px 30px 20px 30px;
        width: 330px;
    }
    .hero-heading{
        padding-top: 30px;
        height: 180px;
        font-size: 170%;
        color: black;
        width: 330px;
    }
    .hero-heading-span{
        color: #FF5E5B;
    }
    .hero-subtitle{
        height: 50px;
        font-size: 22px;
        color: black;
        width: 330px;
        margin-top: 20px;
    }
    .hero-buttons{
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 50px 10px;
        width: 330px;
    }
    .hero-buttons>button{
        padding: 10px 20px 10px 20px;
        font-weight: 500;
        font-size: 16px;
    }
    .button1{
        background-color: #FF5E5B;
        color: white;
        border: 1px solid transparent;
        border-radius: 5px;
        margin-right: 10px;
        margin-left: 10px;
        transition: 0.2s ease-in-out;
    }
    .button2{
        background-color: transparent;
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .hero-buttons>button:hover{
        transform: scale(1.1);
        transition: 0.4s ease-in-out;
        border: 1px solid black;
        color: black;
    }

    
    .middle {
        background-image: url(./assets/images/hero2.jpg);
        min-height: 450px;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .middle-container{
        display: flex;
        flex-direction: column;
        padding: 30px;
        color: black;
        align-items: center;
        align-self: center;
        min-height: 450px;
        background-color: lightgrey;
        background: rgba(255, 255, 255, 0.7);
    }
    .middle-container>h1{
        text-align: center;
        font-size: 48px;
        padding: 15px;
    }
    .middle-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        font-size: 18px;
        text-align: justify;
    }
    
    .problem{
        background-color: #FFFFEA;
        color: black;
        padding: 50px;
        text-align: center;
    }
    .problem h1 {
        font-size: 36px;
        margin: 10px auto 40px auto;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .card{
        width: 100%;
        height: 100%;
        padding: 15px 25px 30px 25px;
        background-color: black;
        color: white;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 25px;
    }
    .card h1{
        padding: 10px;
        font-weight: 600;
        font-size: 24px;
        color: white;
        margin: 0;
    }
    .card p{
        font-weight: 200;
        font-size: 15px;
        text-align: justify;
    }
    #card-1{
        background-color: black;
    }
    #card-2{
        background-color: #FF5E5B;
    }
    #card-3{
        background-color: black;
    }
    #card-4{
        background-color: #FF5E5B;
    }
    
    .contact-us{
        color: black;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .text-container {
        padding-bottom: 30px;
    }
    .text-container>h2{
        padding: 0px 0px 10px 0px;
        word-spacing: 15px;
        letter-spacing: 2px;
        font-size: 2rem;
        text-align: center;
    }
    .text-container>p{
        padding: 2px;
        font-weight: 200;
        text-align: center;
    }
    .form>h3{
        padding: 0px 0px 30px 0px;
        font-size: 1.5rem;
        text-align: center;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .form>button{
        padding: 5px 20px 5px 20px;
        border-radius: 5px;
        margin-top: 20px;
        background-color: #FF5E5B;
        color: white;
        border: 1px solid transparent;
        transition: 0.4s ease-in-out;
    }
    .form>button:hover{
        transform: scale(1.1);
        transition: 0.4s ease-in-out;
        border: 1px solid black;
        color: black;
    }
    footer{
        background-color: #FFFFEA;
        color: black;
    
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }
    .links>a>img{
        width: 30px;
        padding: 5px;
    }
    
    .believe-container{
        background-color: #FFFFEA;
        color: black;
        padding: 40px 32px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .believe-container>h1{
        padding-bottom: 20px;
        font-size: 2rem;
        font-weight: 600;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
    .believe-container>p{
        padding: 10px;
    }
    
    .team-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .team-content>h1{
        color: black;
        font-weight: 600;
        padding: 20px;
        font-size: 2rem;
    }
    .team-content>h4{
        color: black;
        font-weight: 400;
        padding: 20px;
    }
    .card-container-team{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
    }
    .card-team{
        width: 350px;
        height: 100%;
        padding: 25px;
        background-color: black;
        color: white;
        border-radius: 10px;
        text-align: center;
    }
    #a { order: 3; }
    #b { order: 1; }
    #c { order: 2; }
    .card-team>h1{
        padding: 10px;
        font-weight: 600;
        font-size: 1.5rem;
        color: whitesmoke;
    }
    .card-team>p{
        font-weight: 200;
        font-size: 1rem;
    }

    #card-team-2{
        background-color: black;
    }
    #card-team-3{
        background-color: #FF5E5B;
    }
    .card-team>img{
        width: 200px;
        border-radius: 30%;
        background-color: grey;
    }
    .card-team>h2{
        padding: 10px;
        font-size: 2rem;
    }
    
    
    #problem-statement{
        font-weight: 300;
    }
    .head-problem{
        background-color: #FFFFEA;
    }
    #problem-nav{
        background-color: #FFFFEA;
    }
    
    #problem-h1{
        font-size: 2.5rem;
    }
    
    
    
    .container-form{
        max-width: 900px;
        margin: 50px auto;
        color: black;
    }
    .cform{
        margin: 0 auto;
        border-radius: 10px;
    }
    .cform>h1{
        text-align: center;
    }
    .form_container{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(182px,1fr));
        gap: 0;
        margin-bottom: 30px;
    }
    .form_control{
        display: flex;
        flex-direction: column;
        max-width: 150px;
        align-self: center;
        margin-bottom: 20px;
    }
    label{
        font-size: 16px;
    }
    input,select,textarea{
        padding: 6px 10px;
        border: 1px solid grey;
        border-radius: 4px;
        font-size: 15px;
    }
    input:focus{
        outline-color: red;
    }
    .button-container{
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .button-container>button{
        padding: 5px 20px 5px 20px;
        border-radius: 5px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 16px;
        background-color: #FF5E5B;
        color: white;
        border: 1px solid transparent;
        transition: 0.4s ease-in-out;
    }
    .button-container>button:hover{
        transform: scale(1.1);
        transition: 0.4s ease-in-out;
        border: 1px solid black;
        color: black;
    }
    .text_area_control{
        grid-column: 1 / span 2;
        max-width: 300px;
        align-self: center;
        margin-bottom: 20px;
    }
    .map-container{
        background-image: url(./assets/images/map.png);
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .contactus-form{
        display: flex;
        flex-direction: column;
    }
    #contact-nav{
        background-color: #FFFFEA;
    }
    #problem-nav{
        background-color: transparent;
    }
}